<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.luck.picture.lib">

    <uses-sdk tools:overrideLibrary="androidx.camera.view,
    androidx.camera:camera-camera2,
    androidx.camera.camera2,androidx.camera.lifecycle,
    androidx.camera.core" >
    </uses-sdk>

</manifest>