<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 21_BasicWhite (11.2)</string>
	<string>G-r1310-13B121</string>
	<string>G-r1310-13B122</string>
</array>
</plist>
