.tableContainer{
  width: calc(100vw - 30px);
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px solid #F2F3F5;
  margin: 10px 15px 0;
  border-radius: 8px;
  //background: #FFFFFF;
}
.tableWrap{
  width: 880px;
  :global {
    .ant-table-wrapper .ant-table{
      border-radius: 0;
    }
    .ant-table-cell {
      padding-left: 0;
      background: #fff !important;
    }
    .ant-table-wrapper .ant-table-thead >tr>th:not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
      background: #FFFFFF;
    }
    .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      background: #FFFFFF;
    }
  }
}
@media (min-width: 1330px) {
  .tableContainer{
    width: 1260px;
    overflow: hidden;
  }
  .tableWrap{
    width: 1260px;
  }
}
.tableWrap:not(:first-child){
  margin-top: 6px;
}
.hide {
  display: none;
}
.wrapCell {
  display: flex;
  align-items: center;
}
.tipsIcon {
  width: 13px;
  height: 13px;
  display: flex;
  margin-right: 2px;
}
.defineCell {
  color: #1E65F3;
  width: 180px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.showText {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cell {
  width: 180px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cell200 {
  width: 200px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.titleS {
  font-weight: bold;
  display: inline-block;
  width: 180px;
}
.titleS200 {
  font-weight: bold;
  display: inline-block;
  width: 200px;
}
